streamlit
python-dotenv
bcrypt
groq
gtts
PyPDF2
pypdf

python-magic
duckduckgo-search
wikipedia==1.4.0
arxiv==2.1.3
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.17
langchain-groq==0.2.1
langchain-text-splitters==0.3.2
langgraph==0.2.45

