streamlit
python-dotenv
bcrypt
groq
gtts
PyPDF2
python-magic-bin
duckduckgo-search
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.41
langchain-groq==0.2.1
wikipedia==1.4.0
arxiv==2.1.3


